{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'title.default'|trans }}{% endblock %}</title>
    {# Dodaj inne potrzebne linki do CSS, np. Bootstrap #}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Dodany odnośnik do strony głównej w lewym górnym rogu -->
        <a class="navbar-brand" href="{{ path('notice_index') }}">{{ 'header.site_name'|trans }}</a>

        <div class="ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('profile') }}" class="btn btn-primary">{{ app.user.email }}</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger my-2 my-sm-0">{{ 'action.logout'|trans }}</a>
            {% elseif app.request.attributes.get('_route') != 'app_login' %}
                {# Pokaż przycisk logowania, tylko jeśli aktualna strona nie jest stroną logowania #}
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary my-2 my-sm-0">{{ 'action.login'|trans }}</a>
            {% endif %}
        </div>
    </div>
</header>

<main class="container mt-4">
    {% block body %}{% endblock %}
</main>

{# Dodaj skrypty JavaScript na końcu, np. Bootstrap JS #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
