{% extends 'base.html.twig' %}

{% block title %}{{ 'user.edit.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.edit.heading'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ 'action.save_changes'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}