{% extends 'base.html.twig' %}

{% block title %}{{ 'user.management.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.management.heading'|trans }}</h1>

    <a href="{{ path('admin_user_create') }}" class="btn btn-primary">{{ 'user.action.create_new'|trans }}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'user.table.email'|trans }}</th>
            <th>{{ 'user.table.roles'|trans }}</th>
            <th>{{ 'user.table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-warning">{{ 'action.edit'|trans }}</a>

                    <!-- Formularz do usunięcia z potwierdzeniem -->
                    <form method="post" action="{{ path('admin_user_delete', {id: user.id}) }}" style="display:inline-block;" onsubmit="return confirm('{{ 'user.delete.confirm'|trans }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'user.no_users_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
