{% extends 'base.html.twig' %}

{% block title %}{{ 'title.category_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>

    <a href="{{ path('notice_index') }}" class="btn btn-secondary mb-3 mr-2">{{ 'action.view_notices'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_create') }}" class="btn btn-primary mb-3">{{ 'action.create_category'|trans }}</a>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-outline-primary">{{ 'action.show'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-outline-success">{{ 'action.edit'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-outline-danger">{{ 'action.delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'message.empty_list'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
