{% extends 'base.html.twig' %}

{% block title %}{{ 'title.change_password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}

    <button class="btn btn-primary">{{ 'action.save'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('profile') }}" class="btn btn-secondary">{{ 'action.back_to_profile'|trans }}</a>
{% endblock %}
